

<h1>All My  orders</h1>






<table >
    <thead>
        <tr>
            <th>Name |</th>
            <th>Quntity |</th>
            <th>Table number  </th>
        </tr>
    </thead>


    <tbody>
    <% current_user.orders.each do |order| %>

       <tr> <td><%= order.name %></td>  
         <td><%= order.quntity %></td> 
         <td><%= order.table_number %></td>  
        <td>
         <button >delete</button>
          <td>
            <%= link_to "Update", edit_order_path(order) %>
            <%= link_to "Show", order_path(order) %>
        </td> </tr> 
    <% end %>
</tbody>
    
</table>


